.container{
    margin-top: 30px;
}
input{
    height: 35px;
    width: 100%;
}
#messages{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li{
    padding: 5px 10px;
}
#message li:nth-child(odd){
    background: #aaa;
}
